{
  "printWidth": 80,
  "tabWidth": 2,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "__mocks__", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
